.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  align-self: center;
  text-align: right;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0 0 25px 0;
}

.header__link:hover {
  color: #a9a9a9;
}
@media screen and (max-width: 767px) {
  .header__link {
    padding-top: 18px;
  }
}
