.header__loggedin-container {
  align-self: center;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .header__loggedin-container {
    flex-direction: column;
  }
}
